/*CSS fallback for legacy browsers not supporting oklch*/

:root {
  --core-white: #ffffff;
  --core-black: #000000;

  --content-primary: #09090b; /* zinc-950 */
  --content-secondary: #71717a; /* zinc-500 */
  --content-tertiary: #a1a1aa; /* zinc-400 */
  --content-inverse-primary: #ffffff; /* white */
  --content-inverse-secondary: #a1a1aa; /* zinc-400 */
  --content-inverse-tertiary: #a1a1aa; /* zinc-400 */

  --background-primary: #e4e4e7; /* zinc-200 */
  --background-secondary: #fafafa; /* zinc-50 */
  --background-tertiary: #fafafa; /* zinc-50 */
  --background-inverse-primary: #3f3f46; /* zinc-700 */
  --background-inverse-secondary: #27272a; /* zinc-800 */

  --background-hover: #71717a; /* zinc-500 */
  --background-hover-overlay: rgba(0, 0, 0, 0.025);
  --background-inverse-hover-overlay: rgba(255, 255, 255, 0.05);
  --background-navbar: #18181b; /* zinc-900  */
  --background-footer: #0f172a; /* slate-900  */

  --border-primary: #e4e4e7; /* zinc-200 */
  --border-secondary: #f4f4f5; /* zinc-100 */
  --border-tertiary: #fafafa; /* zinc-50 */

  --border-inverse-primary: #3f3f46; /* zinc-700 */
  --border-inverse-secondary: #27272a; /* zinc-800 */
  --border-inverse-tertiary: #09090b; /* zinc-950 */

  --border-hover-overlay: rgba(0, 0, 0, 0.2);
  --border-inverse-hover-overlay: rgba(255, 255, 255, 0.1);

  /* Tailwind internal palette fallbacks */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --border-zinc-950-5: rgba(9, 9, 11, 0.05);
  --border-zinc-950-10: rgba(9, 9, 11, 0.1);

  /* ---- Reds ---- */
  --color-red-50: #fef2f2;
  --color-red-600: #e5553e;
  --color-red-700: #b91c1c;

  /* --- Oranges ---- */
  --color-orange-50: #fff7ed;
  --color-orange-500: #f97316;
  --color-orange-700: #c2410c;

  /* --- Oranges ---- */
  --color-yellow-50: #fefce8;
  --color-yellow-700: #a16207;

  /* ---- Cyans ---- */
  --color-cyan-700: #0e7490;

  /* --- Teals ---- */
  --color-teal-700: #0f766e;

  /* ---- Greens ---- */
  --color-green-700: #15803d;

  /* ---- Blues ---- */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #7cc4ff;
  --color-blue-600: #155dfc;
  --color-blue-700: #1d4ed8;

  /* ---- Purples ---- */
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #d8b4fe;
  --color-purple-500: #a855f7;
  --color-purple-700: #7e22ce;
  --color-purple-900: #a288cf;
  /* purple-900 is not exactly translated to two purple-900 due to Firefox consideration */

  /* ---- Grays ---- */
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6a7282;
  --color-gray-700: #364153;

  /* ---- Whites ---- */
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --border-white-5: rgba(255, 255, 255, 0.05);
  --border-white-10: rgba(255, 255, 255, 0.1);

  /* ---- Shadows ---- */
  --shadow-blue: 0 1px 6px 0 rgba(59, 130, 246, 0.07);
  --shadow-purple: 0 1px 6px 0 rgba(168, 85, 247, 0.07);

  --color-black: #000000;
}

/* Firefox fallback for Tailwind v4 Outline utilities */
@supports not (outline-offset: -2px) {
  .focus\:outline-gray-400:is(:focus-visible, [data-focus]) {
    outline: 2px solid #9ca3af !important; /* gray-400 */
    outline-offset: 2px !important;
  }

  .focus\:-outline-offset-2:is(:focus-visible, [data-focus]) {
    outline-offset: 2px !important;
  }

  .focus\:outline-2:is(:focus-visible, [data-focus]) {
    outline-width: 2px !important;
  }
}

@layer utilities {
  .bg-black\/25 {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

/* Firefox fallback for the Catalyist Badge component (background color) */
.bg-purple-500\/15 {
  background-color: rgba(168, 85, 247, 0.15);
}

.bg-red-500\/15 {
  background-color: rgba(239, 68, 68, 0.15);
}

.bg-cyan-400\/20 {
  background-color: rgba(34, 211, 238, 0.2);
}

.bg-green-500\/15 {
  background-color: rgba(34, 197, 94, 0.15);
}

.bg-blue-500\/15 {
  background-color: rgba(59, 130, 246, 0.15);
}

.bg-orange-500\/15 {
  background-color: rgba(249, 115, 22, 0.15);
}

.bg-yellow-400\/20 {
  background-color: rgba(250, 204, 21, 0.2);
}

.bg-teal-500\/15 {
  background-color: rgba(20, 184, 166, 0.15);
}

.bg-gray-500\/15 {
  background-color: rgba(107, 114, 128, 0.15);
}

/* Fallback for space-x-8 in older Firefox */
.space-x-8 > :not(:last-child) {
  margin-right: calc(var(--spacing) * 8); /* 8 = 2rem */
}

@supports not (border-radius: calc(infinity * 1px)) {
  .rounded-full {
    border-radius: 9999px !important;
  }
}

.divide-y > * + * {
  border-top: 1px solid #e4e4e7;
  border-style: solid;
}
.divide-x > * + * {
  border-style: solid;
  border-left: 1px solid #e4e4e7;
  border-top: none;
}

.divide-gray-200 > * + * {
  border-color: #e4e4e7;
}
/* .divide-gray-400 > * + * {
    border-color: #9ca3af;
  } */

/*** HOVER SUPPORT***/
.hover\:text-gray-700:hover {
  color: #374151;
}
.hover\:text-content-secondary:hover {
  color: var(--content-secondary);
}
.hover\:border-content-secondary:hover {
  border-color: var(--content-secondary);
}
.hover\:border-gray-200:hover {
  border-color: #e5e7eb;
}
.hover\:bg-zinc-100:hover {
  background-color: #f4f4f5;
}
.hover\:bg-blue-50\/40:hover {
  background-color: rgba(239, 246, 255, 0.4);
}
.hover\:cursor-pointer:hover {
  cursor: pointer;
}
